body {
  margin: 20px;
  background-color: blanchedalmond;
}

/* animation from: https://codepen.io/markmead/pen/rNOqRNw */
.hello {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6vw;
  -webkit-animation-name: wave;
  animation-name: wave;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  font-family: "Righteous", cursive;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}

.hello:nth-of-type(1) {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 0.55s;
  animation-delay: 0.55s;
}

.hello:nth-of-type(2) {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.hello:nth-of-type(3) {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
}

.hello:nth-of-type(4) {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

@-webkit-keyframes wave {
  40%, 50% {
    transform: translate(-50%, -65%) scale(1.05);
  }

  0%, 90%, 100% {
    transform: translate(-50%, -45%) scale(0.95);
  }
}

@keyframes wave {
  40%, 50% {
    transform: translate(-50%, -65%) scale(1.05);
  }

  0%, 90%, 100% {
    transform: translate(-50%, -45%) scale(0.95);
  }
}

.btn{
  margin: 1%;
}

#clearButton:hover {
  background-color: rgb(90, 83, 83);
}

input {
  border: 1px solid black;
  border-radius: 4px;
  height: 40px;
}

#inputBox {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #a18e67;
  border-radius: 8px;
  box-shadow: 8px 10px 2px 1px rgba(80, 69, 21, 0.1);
  margin-bottom: 3%;
  width: 80%;
  padding: 20px;
  background-color: #e8d8ac;
}

#inputElements {
  margin: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#appends {
  margin-top: 20px;
  position: absolute;
  top: 45%;
  left: 10%;
  /* transform: translate(-50%, -50%); */
}

/* .appendContainer {
  border: 1px solid black;
} */
#answers {
  margin-top: 20px;
}

#answerSpan {
  font-family: "Righteous", cursive;
  color: #0091ea;
  text-shadow: 12px 12px 2px 1px rgba(129, 112, 34, 0.2);
}